// Global Variables

$primary-color: #3498db;
$secondary-color: #e74c3c;
$accent-color: #ffc107;
$featured-color: #e74c3c;
$standar-border: 4px solid black;

$button-colors:(
     primary: #007bff,
     secondary: #6c757d,
     success: #28a745,
     danger: #dc3545
);
